<!-- collecte/templates/collecte/home.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - SiteCollecte</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        table, th, td {
            border: 1px solid #ccc;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Fonction pour charger et mettre à jour les données des capteurs
            function loadSensorData() {
                $.ajax({
                    url: '{% url 'collecte:home' %}',  // URL de votre vue Django
                    success: function(data) {
                        $('#sensor_data').html($(data).find('#sensor_data').html());
                    }
                });
            }

            // Appel initial au chargement de la page
            loadSensorData();

            // Actualiser les données toutes les 5 secondes
            setInterval(loadSensorData, 5000);
        });
    </script>
</head>
<body>
    <h1>Bienvenue sur SiteCollecte</h1>
    
    <div id="sensor_data">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>ID Capteur</th>
                    <th>Pièce</th>
                    <th>Date d'Ajout</th>
                    <th>Température (°C)</th>
                </tr>
            </thead>
            <tbody>
                {% for sensor_item in sensor_data %}
                {% for temp_item in temp %}
                    
                        <tr>
                            <td>{{ temp_item.id }} </td>
                            <td>{{ sensor_item.sensor.sensor_id }}</td>
                            <td>{{ sensor_item.sensor.piece }}</td>
                            <td>{{ temp_item.timestamp }}</td>
                            <td>{{ temp_item.value }}°C</td>    
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
